.box {
    width: 80%;
    height: 200vh;
    background: royalblue;
    color: white;
    padding: 2em;
    margin: 100px;
    animation: box 10s infinite;
    position: relative;
}

.block-one {
    width: 251px;
    height: 251px;
    background: greenyellow;
    color: black;
    animation: block-one 4s infinite;
}

.block-one:hover {
    opacity: 0%;
}

.block-two {
    width: 100px;
    height: 100px;
    background: black;
    animation: block-two 8s infinite;
    position: fixed;
    transform: translateX(100%);
    right: 0px;
}

.block-two:hover {
    top: 200px;
}

@keyframes box{
    from{ background: royalblue;}
    to{ background: hotpink;}
}

@keyframes block-one{
    0%   {background-color: greenyellow;}
    25%  {background-color: red;}
    50%  {background-color: blue;}
    100% {background-color: green;}
  }

  @keyframes block-two{
      from {transform: translateX(100%);}
      to {transform: translateX(0%);}
  }